@use "colors" as c;
@use "mixins" as *;

:root {
    --base: 8px;

    // pixel size variables
    --size-0-25: calc(var(--base) * .25);   // * .25 = 2
    --size-0-5:  calc(var(--base) * .5);    // * .5 = 4
    --size-1:    var(--base);               // * 1 = 8
    --size-1-5:  calc(var(--base) * 1.5);   // * 1.5 = 12
    --size-2:    calc(var(--base) * 2);     // * 2 = 16
    --size-3:    calc(var(--base) * 3);     // * 3 = 24
    --size-4:    calc(var(--base) * 5);     // * 5 = 40
    --size-5:    calc(var(--base) * 8);     // * 8 = 64
    --size-6:    calc(var(--base) * 13);    // * 13 = 104
    --size-7:    calc(var(--base) * 21);    // * 21 = 168
    --size-8:    calc(var(--base) * 34);    // * 34 = 272
    --size-9:    calc(var(--base) * 55);    // * 55 = 440
    --size-10:   calc(var(--base) * 89);    // * 89 = 712
    --size-11:   calc(var(--base) * 145);   // * 145 = 1160
    --size-12:   calc(var(--base) * 234);   // * 234 = 1872

    --max-width: calc(var(--base)*160);     // 1280

    --timing: .2s ease-in-out;

    // base font-size and line-height
    font-size: clamp(100%, 90% + 0.5vi, 150%);
    line-height: 1.5;

    // font sizing variables
    --font-size-xxxxl: 4rem;
    --font-size-xxxl: 2.9rem;
    --font-size-xxl: 2rem;
    --font-size-xl: 1.6rem;
    --font-size-lg: 1.2rem;
    --font-size-md: 1rem;
    --font-size-sm: .8rem;
    --font-size-xs: .5rem;
}

// animations
$timing: .2s ease-in-out;

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-neutral-5);
    color: var(--color-neutral-0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    > {
        header,
        main,
        footer {
            padding-inline: clamp(var(--size-2), (100% - var(--max-width))/2 , 25%);
        }
    }
}

header {
    margin: 0 0 var(--size-4);
    nav {
        padding: var(--size-3) 0 var(--size-4);
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                flex: 1;
                max-width: none;
                &:not(:first-child) {
                    flex: 0;
                    margin: 0 0 0 var(--size-2);
                }
            }
        }
    }
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-primary--1);
    }
}

footer {
    padding-block: var(--size-4) calc(env(safe-area-inset-bottom,0)*2 + var(--size-4));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-block: 0 var(--size-3);
    text-wrap: balance;
    a {
        display: inline-block;
        font-size: var(--font-size-sm);
        opacity: 0;
        padding: var(--size-1);
        text-decoration: none;
        transition: opacity var(--timing);
        vertical-align: middle;
    }
    &:hover {
        a {
            opacity: 1;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    max-width: 65ch;
}

h1 {
    font: {
        size: var(--font-size-xxxxl);
        stretch: condensed;
        weight: 900;
    }
}

h2 {
    font-size: var(--font-size-xxl);
}

h3,
h4,
h5,
h6 {
    &:before {
        content: '⤷ ';
        display: block;
        float: left;
        font-size: var(--font-size-sm);
        height: var(--size-4);
        margin: var(--size-1-5) var(--size-1) 0 0;
        opacity: 0.25;
    }
}

h3 {
    font-size: var(--font-size-xl);
}

h4,
h5,
h6 {
    font-size: var(--font-size-lg);
    &:before {
        margin: var(--size-1) var(--size-1) 0 0;
    }
}

p,
ul,
ol {
    margin: 0;
    padding-block: 0 var(--size-4);
    &:has(+ p, + ul, + ol) {
        padding-block-end: var(--size-3);
    }
}

ul,
ol {
    padding-inline: var(--size-4);
}

li:not(:last-child) {
    margin: 0 0 var(--size-1);
}

a {
    color: var(--color-primary-0);
    transition: color var(--timing);
    &:hover,
    &:visited {
        color: var(--color-primary--1);
    }
}

// landscape mode AND mobile devices+
@include mq(600px) {
    // CSS here
}

// portrait tablets+
@include mq(750px) {
    p,
    ul,
    ol {
        padding-block: 0 var(--size-5);
    }
}

// landscape tablets+
@include mq(1000px) {
    // CSS here
}

// full-screen laptop+
@include mq(1200px) {
    // CSS here
}

// dark mode prefered
@media (prefers-color-scheme: dark) {
    // CSS here
}

// reduced motion prefered
@media (prefers-reduced-motion) {
    // CSS here
}

@include mq(600px) {
    // CSS here
}

@include mq(600px, portrait) {
    // CSS here
}

@include mq(600px, portrait, max) {
    // CSS here
}
