:root {
  --color-primary--3: hsl(20, 100%, 20%);
  --color-primary--2: hsl(20, 100%, 30%);
  --color-primary--1: hsl(20, 100%, 40%);
  --color-primary-0: hsl(20, 100%, 50%);
  --color-primary-1: hsl(20, 100%, 60%);
  --color-primary-2: hsl(20, 100%, 70%);
  --color-primary-3: hsl(20, 100%, 80%);
  --color-neutral-0: hsl(0, 0%, 0%);
  --color-neutral-1: hsl(0, 0%, 20%);
  --color-neutral-2: hsl(0, 0%, 40%);
  --color-neutral-3: hsl(0, 0%, 60%);
  --color-neutral-4: hsl(0, 0%, 80%);
  --color-neutral-5: hsl(0, 0%, 100%);
  --color-pastels-0: #98FF9855;
  --color-pastels-1: #E6E6FA55;
  --color-pastels-2: #FFE5B455;
  --color-pastels-3: #B0E0E655;
  --color-pastels-4: #F0808055;
  --color-pastels-5: #FFB6C155;
  --color-pastels-6: #87CEFA55;
  --color-pastels-7: #FFFFE055;
  --color-pastels-8: #98FB9855;
  --color-pastels-9: #AFEEEE55;
  --color-pastels-10: #DB709355;
  --color-pastels-11: #BC8F8F55;
  --color-pastels-12: #FFF5EE55;
  --color-pastels-13: #F0FFF055;
}

:root {
  --base: 8px;
  --size-0-25: calc(var(--base) * .25);
  --size-0-5: calc(var(--base) * .5);
  --size-1: var(--base);
  --size-1-5: calc(var(--base) * 1.5);
  --size-2: calc(var(--base) * 2);
  --size-3: calc(var(--base) * 3);
  --size-4: calc(var(--base) * 5);
  --size-5: calc(var(--base) * 8);
  --size-6: calc(var(--base) * 13);
  --size-7: calc(var(--base) * 21);
  --size-8: calc(var(--base) * 34);
  --size-9: calc(var(--base) * 55);
  --size-10: calc(var(--base) * 89);
  --size-11: calc(var(--base) * 145);
  --size-12: calc(var(--base) * 234);
  --max-width: calc(var(--base)*160);
  --timing: .2s ease-in-out;
  font-size: clamp(100%, 90% + 0.5vi, 150%);
  line-height: 1.35;
  --font-size-xxxxl: 4rem;
  --font-size-xxxl: 3rem;
  --font-size-xxl: 2rem;
  --font-size-xl: 1.6rem;
  --font-size-lg: 1.2rem;
  --font-size-md: 1rem;
  --font-size-sm: .8rem;
  --font-size-xs: .5rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-neutral-5);
  color: var(--color-neutral-0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body > header,
body > main,
body > footer {
  padding-inline: max((100vw - var(--max-width)) / 2, var(--size-2));
}

header {
  margin: 0 0 var(--size-4);
}
header nav {
  padding: var(--size-3) 0 var(--size-4);
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  flex: 1;
  max-width: none;
}
header nav ul li:not(:first-child) {
  flex: 0;
  margin: 0 0 0 var(--size-2);
}

footer {
  padding-block: var(--size-4) calc(env(safe-area-inset-bottom, 0) * 2 + var(--size-4));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-block: 0 var(--size-4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  max-width: 65ch;
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xxl);
}

h4,
h5,
h6 {
  font-size: var(--font-size-xl);
}

ul,
ol {
  margin: 0;
  padding: 0 0 var(--size-4) var(--size-4);
}

li:not(:last-child) {
  margin: 0 0 var(--size-1);
}

@media screen and (min-width: 600px) {
  header,
main,
footer {
    max-width: var(--max-width);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-neutral-5);
    color: var(--color-neutral-);
  }
}
