@use "colors" as c;
@use "mixins" as *;

// base size
$base: 8px;
$maxWidth: $base*160;

// animations
$timing: .2s ease-in-out;

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-neutral-5);
    color: var(--color-neutral-0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    > {
        header,
        main,
        footer {
            // padding left/right: should be a maximum of the (page width - maxwidth)/2, but at least 2*$base
            padding-inline: max(calc((100vw - #{$maxWidth})/2), $base*2);
        }
    }
}

header {
    margin: 0 0 $base*2;
    nav {
        padding: $base*4 0;
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                flex: 1;
                max-width: none;
                &:not(:first-child) {
                    flex: 0;
                    margin: 0 0 0 $base*2;
                }
            }
        }
    }
}

footer {
    padding-block: $base*2 calc(env(safe-area-inset-bottom,0)*2 + #{$base*2});
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0 0 $base*4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    max-width: 60ch;
}

h1 {
    font-size: $base*5;
}

h2 {
    font-size: $base*4;
}

h3 {
    font-size: $base*3;
}

h4,
h5,
h6 {
    font-size: $base*2.5;
}

ul,
ol {
    margin: 0;
    padding: 0 0 $base*4 $base*4;
}

li:not(:last-child) {
    margin: 0 0 $base;
}

// landscape mode AND mobile devices+
@include mq(600px) {
    header,
    main,
    footer {
        max-width: $maxWidth;
    }
}

// portrait tablets+
@include mq(750px) {
    // CSS here
}

// landscape tablets+
@include mq(1000px) {
    // CSS here
}

// full-screen laptop+
@include mq(1200px) {
    // CSS here
}

// dark mode prefered
@media (prefers-color-scheme: dark) {
    :root {
        background-color: var(--color-neutral-5);
        color: var(--color-neutral-);
    }
}

// reduced motion prefered
@media (prefers-reduced-motion) {
    // CSS here
}

@include mq(600px) {
    // CSS here
}

@include mq(600px, portrait) {
    // CSS here
}

@include mq(600px, portrait, max) {
    // CSS here
}
