@use "colors" as c;
@use "mixins" as *;

:root {
    --base: 8px;

    // pixel size variables
    --size-0-25: calc(var(--base) * .25);   // * .25 = 2
    --size-0-5:  calc(var(--base) * .5);    // * .5 = 4
    --size-1:    var(--base);               // * 1 = 8
    --size-1-5:  calc(var(--base) * 1.5);   // * 1.5 = 12
    --size-2:    calc(var(--base) * 2);     // * 2 = 16
    --size-3:    calc(var(--base) * 3);     // * 3 = 24
    --size-4:    calc(var(--base) * 5);     // * 5 = 40
    --size-5:    calc(var(--base) * 8);     // * 8 = 64
    --size-6:    calc(var(--base) * 13);    // * 13 = 104
    --size-7:    calc(var(--base) * 21);    // * 21 = 168
    --size-8:    calc(var(--base) * 34);    // * 34 = 272
    --size-9:    calc(var(--base) * 55);    // * 55 = 440
    --size-10:   calc(var(--base) * 89);    // * 89 = 712
    --size-11:   calc(var(--base) * 145);   // * 145 = 1160
    --size-12:   calc(var(--base) * 234);   // * 234 = 1872

    --max-width: calc(var(--base)*160);     // 1280

    --timing: .2s ease-in-out;

    // base font-size and line-height
    font-size: clamp(100%, 90% + 0.5vi, 150%);
    line-height: 1.5;

    // font sizing variables
    --font-size-xxxxl: 4rem;
    --font-size-xxxl: 2.9rem;
    --font-size-xxl: 2rem;
    --font-size-xl: 1.6rem;
    --font-size-lg: 1.2rem;
    --font-size-md: 1rem;
    --font-size-sm: .8rem;
    --font-size-xs: .5rem;
}

/*
**
** ELEMENTS
**
*/

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-neutral-10);
    color: var(--color-neutral-0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    > {
        header,
        main,
        footer {
            padding-inline: max((100vw - var(--max-width)) / 2, var(--size-2));
        }
    }
}

header {
    margin: 0 0 var(--size-4);
    nav {
        padding: var(--size-3) 0 var(--size-4);
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                flex: 1;
                max-width: none;
                white-space: nowrap;
                &:not(:first-child) {
                    flex: 0;
                    margin: 0 0 0 var(--size-2);
                }
            }
        }
    }
    > h1:first-child {
        padding-block: var(--size-5) 0;
    }
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-primary--1);
    }
}

footer {
    margin-block: var(--size-6) 0;
    padding-block: var(--size-4) calc(env(safe-area-inset-bottom,0)*2 + var(--size-4));
    a {
        text-wrap: nowrap;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-block: 0 var(--size-3);
    text-wrap: balance;
    a {
        display: inline-block;
        font-size: var(--font-size-sm);
        opacity: 0;
        padding: var(--size-1);
        text-decoration: none;
        transition: opacity var(--timing);
        vertical-align: middle;
    }
    &:hover {
        a {
            opacity: 1;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 55ch;
}

p,
li {
    max-width: 65ch;
}

h1 {
    font: {
        size: clamp(var(--font-size-xxl), 100% + 5vi, var(--font-size-xxxxl));
        stretch: condensed;
        weight: 900;
    }
    + p,
    + h2 {
        padding-block: 0 var(--size-4);
    }
}

h2 {
    size: clamp(var(--font-size-xl), 100% + 5vi, var(--font-size-xxl));
}

h3,
h4,
h5,
h6 {
    &:before {
        content: '⤷ ';
        display: block;
        float: left;
        font-size: var(--font-size-sm);
        height: var(--size-4);
        margin: var(--size-1-5) var(--size-1) 0 0;
        opacity: 0.25;
    }
}

h3 {
    font-size: var(--font-size-xl);
}

h4,
h5,
h6 {
    font-size: var(--font-size-lg);
    &:before {
        margin: var(--size-1) var(--size-1) 0 0;
    }
}

p,
ul,
ol {
    margin: 0;
    padding-block: 0 var(--size-4);
    text-wrap: pretty;
    &:has(+ p, + ul, + ol, + iframe, + video, + blockquote) {
        padding-block-end: var(--size-3);
    }
}

blockquote {
    background: var(--color-pastels-2);
    margin: 0 0 var(--size-4);
    font-style: italic;
    padding: var(--size-2);
    position: relative;
    text-wrap: pretty;
    &:has(+ p, + ul, + ol, + iframe, + video, + blockquote) {
        margin-block-end: var(--size-3);
    }
    &:before {
        content: '“';
    }
}

p {
    text-wrap: pretty;
}

ul,
ol {
    padding-inline: var(--size-4);
}

li:not(:last-child) {
    margin: 0 0 var(--size-1);
}

fieldset {
    border: 0;
    margin-block: 0 var(--size-4);
    padding: 0;
    legend {
        display: none;
    }
    ol,
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li:not(:last-child) {
            margin-block-end: var(--size-3);
        }
    }
    label {
        display: block;
    }
    input,
    textarea {
        font-size: var(--font-size-lg);
    }
    input[type="submit"],
    button {
        appearance: none;
        -webkit-appearance: none;
        border: 0;
        border-radius: var(--size-1);
        padding: var(--size-1) var(--size-3);
    }
}

a {
    color: var(--color-primary-0);
    transition: color var(--timing);
    &:hover,
    &:visited {
        color: var(--color-primary--1);
    }
}

pre:has(> code) {
    margin-block: 0 var(--size-5);
    code {
        background-color: var(--color-neutral-9);
        border: {
            color: var(--color-neutral-9);
            radius: var(--size-0-5);
            style: solid;
            width: var(--size-1-5) var(--size-3);
        }
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        overflow: auto;
        width: fit-content;
    }
}


code {
    padding: var(--size-0-5) var(--size-1);
    p & {
        background-color: var(--color-neutral-9);
        border-radius: var(--size-0-5);
        display: inline;

        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
}

abbr {
    text-decoration: {
        color: var(--color-neutral-75);
        style: wavy;
    }
    cursor: help;
}

img,
iframe,
video {
    width: 100%;
}

blockquote {
    width: 65ch;
}

/*
**
** CLASSES
**
*/

.embedded-video {
    aspect-ratio: 16 / 9;
    border: var(--size-0-5) solid var(--color-primary-0);
    box-sizing: border-box;
    margin-block: 0 var(--size-4);
    width: 100%;
}

pre.skeleton-logo {
    color: var(--color-neutral-10);
    font-weight: 800;
    line-height: 1.2;
}

footer:has(.skeleton-logo) {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: auto fit-content(10%);
    pre.skeleton-logo {
        margin: 0;
        width: fit-content;
    }
}

// landscape mode AND mobile devices+
@include mq(600px) {
    // CSS here
}

// portrait tablets+
@include mq(750px) {
    h1 {
        + p,
        + h2 {
            padding-block: 0 var(--size-5);
        }
    }
    p,
    ul,
    ol {
        padding-block: 0 var(--size-5);
    }
    fieldset {
        margin-block: 0 var(--size-5);
    }
}

// landscape tablets+
@include mq(1000px) {
    // CSS here
}

// full-screen laptop+
@include mq(1200px) {
    // CSS here
}

// dark mode prefered
@media (prefers-color-scheme: dark) {
    // CSS here
}

// reduced motion prefered
@media (prefers-reduced-motion) {
    // CSS here
}

@include mq(600px) {
    // CSS here
}

@include mq(600px, portrait) {
    // CSS here
}

@include mq(600px, portrait, max) {
    // CSS here
}
