header {
  background-color: var(--color-pastels-3);
}

footer {
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-5);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-75);
  }
  header {
    color: var(--color-neutral-0);
  }
  pre:has(> code) code {
    background-color: var(--color-neutral-1);
  }
  code {
    color: var(--color-neutral-95);
  }
  p code {
    background-color: var(--color-neutral-1);
  }
  abbr {
    text-decoration-color: var(--color-neutral-3);
  }
  footer {
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-5);
  }
}
